@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'Oswald', sans-serif;
}

[class*="entypo-"] {
  width: 1em;
  height: 0em;
}

body {
  background:white;
  font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #777;
    text-align: left;
    line-height: 30px;
}

a,
span,
h1,
h2,
h3,
span {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #777;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #2ecc71;
  font-weight: 100;
  font-size: 2.4em;
  margin: 0;
  border-bottom: 1px solid #777;
  padding-bottom: 0.5em;
  cursor: pointer;
}

h1:hover {
    color:darkcyan;
}

h2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: #999;
  font-weight: 100;
  font-size: 1.0em;
}

#content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 0.15em solid #2ecc71;
  background: rgba(255, 255, 255, 0.1);
  margin: 2em auto;
  line-height: 1.1em;
  padding: 1em;
  padding-left: 3em;
  list-style: none;
  text-align: left;
  margin-left: 10em;
  margin-right: 3em;
  border-radius: 0.1em;
  min-width: 29em;
}

.event {
  min-width: 20em;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
    
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 1em;
}

.timeline .event:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 1.1em;
  min-width: 9em;
font-family: 'Oswald', sans-serif;
  color: #2ecc71;
}

.timeline .event:after {
  box-shadow: 0 0 0 0.14em #2ecc71;
  left: -3.5em;
  background: #fff;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  content: "";
}

.timeline .event .member-location,
.timeline .event .member-parameters {
  display: none;
}

/*
.timeline .event:last-of-type .member-location,
.timeline .event:last-of-type .member-parameters {
  display: block;
}
*/

.member-infos {
  padding: 10px;
  text-align: left;
  position: relative;
    line-height: 25px;
    font-family: 'Oswald', sans-serif;
}

.member-infos > h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.member-location a:before {
  margin-right: 5px;
}

.member-location {
  text-indent: 2px;
}
.member-location p,ul{
 letter-spacing: 0.6px;
     font-family:  'Oswald',sans-serif;
    color: #656565;
    font-weight: 300;
     font-size: 16px;
}


.member-location a{
    color:  #e74c3c;
}

.follow,
.options {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #D3D3D3;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 0 #C0C0C0;
  border-radius: 3px;
  display: inline-block;
}

.follow:hover,
.options:hover {
  box-shadow: 0 1px 0 0 #C0C0C0;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.member-socials {
  display: inline-block;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 8px;
  float: right;
}

.member-socials li {
  display: inline-block;
}

.shots-number,
.followers {
  font-weight: normal;
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
}

.member-contact {
  position: absolute;
  right: 10px;
  top: 10px;
}

.member-contact li {
  display: inline-block;
  margin-left: 10px;
}

.member-shots-number {
  padding-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: 6px;
  margin-left: 6px;
}

.pull-right {
    text-align: right;
    padding-top:10px;
}

.pull-right p{
    text-align: right;
    margin-top:-80px;
}

.copyright {
          background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
   margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    
}


.copyright a{
    
    color: #28ABE3;
   
    text-decoration: none;
}

.copyright p{
        font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
   font-size: 17px;
}

.copyright .row{
    
     padding-top: 20px;
    padding-bottom: 20px;
   margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
   
    
}