body {
  padding: 0;
  margin: 0;
  color: #fff;
  font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  line-height: 1.5em;
   vertical-align:center; 
}

slider {
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: center;  
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: background-color 0.6s ease-in-out 0s;
  transition: background-color 0.6s ease-in-out 0s;
}


a {
  color: #fff;
  text-decoration: none;
}

#pages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  right: 2px;
  padding: 5px;
}

#pages li {
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;

  display: inline-block;
  visibility: hidden;
  position: relative;
  display: none;

}

#pages .selected {
  opacity: 1;
  visibility: visible;
  display: initial;
}


.arrow {
  position: absolute;
  top: 0;
  bottom: 70px;
  width: 25px;
  height: 40px;
  padding: 25px; /* Arrow size */
  margin: auto 0;
  z-index: 1000;
  cursor: pointer;

  
  border: solid transparent;
  border-width: 0 0 2rem 2rem;  
  box-shadow: 1px -1px 0 1px white inset;
  -webkit-box-shadow: 2px -2px white inset;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px white inset;
  -webkit-box-shadow: 4px -4px white inset;
}


#prev {
  left: 10px;
  -webkit-transform: rotate(45deg) scale(0.8);
  transform: rotate(45deg) scale(0.8);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#next {
  right: 10px;
  -webkit-transform: rotate(225deg) scale(0.8);
  transform: rotate(225deg) scale(0.8);
}

#next:hover {
  -webkit-transform: rotate(225deg) scale(1.0);
  transform: rotate(225deg) scale(1.0);
}

#prev:hover {
  -webkit-transform: rotate(45deg) scale(1.0);
  transform: rotate(45deg) scale(1.0);
}

  /* navigation */
.navigation {
  width: 100%;
  bottom: 7px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 0;
  height: 60px;
  z-index: 10;
}

.navigation li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 15px 4px;
}

.navigation span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.navigation a:hover span {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.navigation a.selected span {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}