/* =========
   Get Fonts */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* ================
   Assign Variables */
/* ===========================
   Setup Mixins/Helper Classes */
.clearfix:after, .container:after, .tab-nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ==========
   Setup Page */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 3em;
  background-image: url(http://subtlepatterns.com/patterns/retina_wood.png);
  color: grey;
  font-family: 'Quicksand', sans-serif;
}

/* =================
   Container Styling */
.container {
  position: relative;
  background: white;
  padding: 3em;
  border-radius: 0px;
}

/* ===========
   Tab Styling */


#content h1 {
  text-align: center;
}

#content a {
  color:#005e8e;
}

#table-content a {
    color: #fff;
}

.tab-group {
  position: relative;
    margin-left:-50px;
  border: 1px solid #eee;
  margin-top: 5em;
  border-radius: 0 0 0px 0px;
     width:1180px;
}
.tab-group section {
  opacity: 0;
  height: 0;
  padding: 1 1em;
  overflow: hidden;
  transition: opacity 0.4s ease, height 0.4s ease;
}
.tab-group section.active {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.tab-nav {
    position: relative;
    top:-16px;
    left:70px;
  list-style: none;
  margin: -3.5em -10px 0 0;
  overflow: hidden;
    font-weight: 100;
    align-items: center;
    
}

.tab-nav img{
    
   margin-top: 20px;
    
    margin-left: -10px;
    height: 50px;
    width: 50px;
}

#gear img {
    height: 70px;
    width: 70px;
    margin-bottom: -10px;
    margin-top: 10px;
}

#bulb img {
    height: 58px;
    width: 58px;
    margin-bottom: -1px;
    margin-top: 13px;
}

.tab-nav li {
  display: inline;
  color: white;
    
     
}
.tab-nav li a {
    width: 190px;
    text-align: center;
    top: 2px;
    position: relative;
    display: block;
    float: left;
    border-radius:15px 15px 0 0;
    background: #cbc9c7;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    color: white;
    margin-top: .8em;
      
    margin-right: 1px;
    transition: background .2s ease, line-height .2s ease, margin .2s ease;
    font-weight: 200;
    font-size: 17px;
    
  
}
.tab-nav li.active a {
  background: #005e8e;
  color: white;
  line-height: 2.5em;
  margin-top: 0;
    
  
}

/* tab content  */

body {
  background: #fff;
  font-family: "Helvetica Neue", sans-serif; 
    font-weight: 200;
    
}

p{
    /*color: #424242;*/
    text-align: justify;
    line-height: 22px;
    
}


#rcorners1 {
    border-radius: 0px;
    border: 2px solid  #005e8e;
    padding: 45px;
    
    width: 116%;
    height: 100%;
    margin-left: -70px;
    margin-right: 200px;
    margin-top: 60px;
  

}

#rcorners1 p{
   margin-left: 80px;
     
    padding-right: 90px;
}

#rcorners1:after {
  content:"";
  display:block;
  clear:both;
}

 br {
        line-height: 150%;
     }

article {
  max-width: 60em;
  height: auto;
  margin: 1em auto;
}

.table-of-contents {
  float: left;
  width: 250px;
  background: #005e8e;
  font-size: 1.2em;
  padding: 3em 1em;
 
  margin-right: 1.2em;
  margin-bottom: 1.2em;
    color:#fff;
    padding-left: 50px;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
  color:white;
  text-decoration: underline;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

.table-of-contents a {
    color:##005e8e;
}

.table-of-contents a:visited {
    color: ##005e8e;
}


/* unvisited link */

#standards a:link {
    color: #005e8e;
}


#comprehensive a:link {
    color: #005e8e;
}

/* visited link */
a:visited {
    color: #005e8e;
}

a.toTop:visited {
    color: #2eccc0;
}

/* mouse over link */
a:hover {
    color: #2eccc0;
}

/* selected link */
a:active {
    color: #005e8e;
}

h1 {
  color: #A31A48;
    font-size: 30px;
    font-family: "Helvetica Neue", sans-serif; 
}
h3:target, h3 {
  animation: highlight 1s ease;
  color: #A31A48;
}

@keyframes highlight {
  from { background: orange; }
  to { background: white; }
}

#tab1 p {
    position: relative;
    top:20px;
    left:-70px;
    width:1110px;
    
}

#tab1 hr {
    position: relative;
    top:10px;
    left:-70px;
    width:1110px;
    border: 1px solid #005e8e;
    
}


#tab1 h1 {
  text-align: center;
    
}

#rcorners1 h3 {
    padding-left: 10px;
}


#tab2 p {
    position: relative;
    top:20px;
    left:-70px;
    width:1110px;
    padding-bottom: 50px;
}

#tab2 hr {
    position: relative;
    top:10px;
    left:-70px;
    width:1110px;
    border: 1px solid #005e8e;
    
}


#tab2 h1 {
  text-align: center;
    
}

iframe {
    
    position: relative;
     right:100px;
    top:10px; 
    width: 122%;
    height: 1500px;
    border-style: none;
    margin: 0px 0px 0iframepx 0px;
}

#tab4 iframe {
    
    
    width: 123%;
    height: 1800px;
    border-style: none;
    margin: 0px 0px 0iframepx 0px;
}

/*
#tab3 nav{
    
    width:470px;
    height:250px;
    padding-top:10px;
    padding-bottom: 10px;
   
}

#tab3 #pageintro p{
   
    width: 1020px;
    padding-left: 447px;
    

     
}

#tab3 hr {
    margin-top: 35px;
    margin-left: 20px;
    width:570px;
     border: 1px solid #005e8e;
    
}

#tab3 h1 {
  position: relative;
    top:10px;
    left:20px;
    
}




#tab3 #rcorners1 {
    margin-top: 110px;
    border-radius: 0px;
    border: 2px solid  #005e8e;
    padding: 45px;

    width: 118%;
    height: 100%;
    margin-left: -90px;
    margin-right: 200px;
    
  
}

#tab3 #rcorners1 p{
  text-align: justify;
    
  
}



*/


#tab3 p {
    position: relative;
    top:20px;
    left:-70px;
    width:1110px;
    
}


#tab3 hr {
    position: relative;
    top:10px;
    left:-70px;
    width:1110px;
    border: 1px solid #005e8e;
    
}

#tab3 #rcorners1 {
    text-align: justify;
    line-height: 22px;
    
  
}


#tab3 h1 {
  text-align: center;
    
}

#tab3 nav{
    
    width:auto;
    height:auto;
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
   
}

#tab3 .table-of-contents a{

    color: #fff;
   
}



#tab4 h1 {
 text-align: center;
    
}

#tab4 #pageintro p{
   
    width:1110px;
    padding-bottom: 0px;
    position: relative;
    right:80px;
    top:10px; 
    
    
}

#tab4 hr {
    position: relative;
    top:-10px;
    left:-79px;
    width:1110px; 
    border: 1px solid #005e8e;
}
    
#tab5 h1 {
 text-align: center;
    
}

#tab5 #pageintro p{
   
    width:1110px;
    padding-bottom: 40px;
    position: relative;
    right:80px;
    top:10px; 
    left:27px;
}


#tab5 hr {
    position: relative;
    top:-10px;
    left:-9px;
    width:1110px;
    border: 1px solid #005e8e;
}


#tab6 h1 {
 text-align: center;
    
}

#tab6 #pageintro p{
   
    width:1100px;
    padding-bottom: 0px;
    position: relative;
    right:80px;
    top:10px; 
    
    
}

#tab6 hr {
    position: relative;
    top:-10px;
    left:-1px;
    width:1110px; 
    border: 1px solid #005e8e;
}

#tab6 #pageintro p{
   
    width:1110px;
    padding-bottom: 40px;
    position: relative;
    right:-55px;
    top:10px; 
     left:30px;
    
}

#solution_content h3 {
    
    padding-left: 50px;
}

.copyright {
          background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
   margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    
}


.copyright a{
    
    color: #28ABE3;
   
    text-decoration: none;
}

.copyright p{
    
   font-size: 17px;
     text-align: right;
}

.copyright .row{
    
     padding-top: 20px;
    padding-bottom: 20px;
   margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
   
    
}